/**
 * 无ID 无层级 无标签
 * #test .test{}， ul.test{}，#test ul{} 以及.test{}。 
 * .test速度最快
 * theme: 主题；base: 基础；variable: 变量。
 * 变量：$variable = value
 * 计算：-(@width / 2)
 * 嵌套：XXX
 * 继承：@extend
 * mixin：rounded(vert, horz, radius = 10px)
 * 颜色函数：
 * @import
 * @media/@keyframes
 * if/else for i in
 * 自定义函数
 * [对比学习sass和stylus的常用功能](https://segmentfault.com/a/1190000008013566#articleHeader2)
 */

$mainColor = #34495e
$secColor = #34495e

a
  color $secColor
  text-decoration none

